@use './lib/styles/variables' as *;

body {
  font-family: $font-primary;
  color: $color-text;
  margin: 0;
  padding: 0;
}



button {
  background-color: $color-primary;
  color: $color-text;
  border: none;
  border-radius: $radius-md;
  padding: 0.6rem 1rem;
  cursor: pointer;
  transition: all 240ms ease-in-out;

  &:hover {
    background-color: $color-primary-dark;
  }
}